PreBuiltFrameworks/SwiftyJSON.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/WAYWindow.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/Alamofire.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/Charts.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/HotKey.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/KeyHolder.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/Surge.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/SwiftDate.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/Magnet.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/NSPageControl.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/Solar.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/Sparkle.framework.zip filter=lfs diff=lfs merge=lfs -text
PreBuiltFrameworks/SwiftyBeaver.framework.zip filter=lfs diff=lfs merge=lfs -text
