### Xcode.gitignore
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
# xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
Carthage
Releases/.tmp
Releases/*.tmp
Releases/*.dmg
Releases/*.delta
Releases/*.delta*
Lunar/Generated/
.env.sh
.gitsecret/keys/random_seed
Lunar/Resources/dsa_priv.pem
GoogleService-Info.plist
Frameworks/Extern
Lunar/Resources/eddsa_priv
Lunar.dmg
default.profraw
.build/
*.pkg
*.dmg
Releases/*.zip
Lunar/Modes/SensorMode.swift
Lunar/Modes/SyncMode.swift
Lunar/Modes/LocationMode.swift
Lunar/Data/Pro.swift
Lunar/ALS/lunarsensor/partitions.csv
.pio
*.bkp
Lunar/Modes/ClockMode.swift
Frameworks/*.framework
Frameworks/WAYWindow
Frameworks/Sparkle
Releases/*.html
*.mdraft
Lunar/DDC/DDC2.h
Lunar/DDC/DDC2.c
old_updates
.ruby-lsp
Retired.swift
Lunar/required.swift
