github "SwiftyBeaver/SwiftyBeaver"
github "Alamofire/Alamofire"
github "malcommac/SwiftDate"
github "SwiftyJSON/SwiftyJSON"
github "alin23/WAYWindow"
github "alin23/Solar"
github "nerd0geek1/NSPageControl"
github "soffes/HotKey"
github "danielgindi/Charts"
github "Clipy/KeyHolder"
github "Clipy/Magnet"
github "mattt/Surge" ~> 2.0.0
github "iwasrobbed/Down"