github "SwiftyBeaver/SwiftyBeaver"
github "Alamofire/Alamofire"
github "malcommac/SwiftDate"
github "SwiftyJSON/SwiftyJSON"
github "alin23/WAYWindow"
github "alin23/Solar"
github "nerd0geek1/NSPageControl"
github "danielgindi/Charts"
github "Clipy/KeyHolder"
github "Clipy/Magnet"
github "mattt/Surge"
github "iwasrobbed/Down"
github "getsentry/sentry-cocoa"
github "alin23/MediaKeyTap" "master"
github "rnine/AMCoreAudio"
