github "alin23/WAYWindow"
github "nerd0geek1/NSPageControl"
github "danielgindi/Charts"
github "Clipy/KeyHolder"
github "Clipy/Magnet"
github "iwasrobbed/Down"
github "getsentry/sentry-cocoa"
github "alin23/MediaKeyTap" "master"
github "rnine/AMCoreAudio"
