<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Beta</key>
	<string>$(BETA)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Lunar</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>Pro Meteor</string>
			<key>CFBundleURLName</key>
			<string>fyi.lunar.Lunar</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lunar</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>ipstack.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Lunar needs AppleEvents permission to open specific preference panes and control Night Shift.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ddcutil._tcp</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Alin. All rights reserved.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Lunar uses the local network to find devices that can send DDC messages to your monitor when this Mac device doesn&apos;t have this ability</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Lunar needs location data to get sunrise and sunset times</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Lunar needs location data to get sunrise and sunset times</string>
	<key>NSLocationUsageDescription</key>
	<string>Lunar needs location data to get sunrise and sunset times</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Lunar needs location data to get sunrise and sunset times</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>SentryCrashExceptionApplication</string>
	<key>SUFeedURL</key>
	<string>$(APPCAST_URL)</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUPublicEDKey</key>
	<string>lqnO6tg2A9evTIFo2SC9ArZ6NS84gtBshcAWdwh12xQ=</string>
	<key>TestMode</key>
	<string>$(TEST_MODE)</string>
</dict>
</plist>
